{% load static %}

<div class="mt-4 mb-2">
    <span class="fs-1 pe-5">Popular tags</span>
</div>
<!-- Tags -->
<div class="row">
    <div class="col">
        {% for tag in tags %}
            <a href="{% url 'tag-view' tag %}" class="tag">{{ tag }}</a>
        {% endfor %}
    </div>
</div>
<!-- Best members -->
<div class="row">
    <div class="mt-4 mb-2">
        <span class="fs-2 pe-5">Best members</span>
    </div>
    <div class="col">
        <div>
            <img src="{% static 'img/common_avatar.png' %}" alt="Avatar" width="50">
            CURRENT NAME1
        </div>
        <div>
            <img src="{% static 'img/common_avatar.png' %}" alt="Avatar" width="50">
            CURRENT NAME2
        </div>
        <div>
            <img src="{% static 'img/common_avatar.png' %}" alt="Avatar" width="50">
            CURRENT NAME3
        </div>
        <div>
            <img src="{% static 'img/common_avatar.png' %}" alt="Avatar" width="50">
            CURRENT NAME4
        </div>
    </div>
</div>