{% load static %}

<div class="card mb-2">
    <!-- Question -->
    <div class="card-header  fs-4 text-center">
            <span> {{ question_id }} <span>
            <a href="{% url 'question-view' question_id %}" class="question-title">
                How can I make my container compatible with boost::range?
            </a>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Likes and answers counters -->
            <div class="col-2 text-end">
                <form class="mb-1">
                    <input type="hidden">
                    <button class="button-likes" type="submit">12 Likes</button>
                </form>

                <span class="answers-counter" type="submit">3 Answers</span>
            </div>

            <!-- Question main part -->
            <div class="col-10">
                <!-- Text -->
                <div class="row p-1">
                    I'm trying to use Boost Asio to make some code that talks to a remote system over
                    UDP. The remote system in question is a bit of a pain in that once you connect to it
                    once, if you close the connection ...
                </div>
                <div class="row">
                    <!-- Tags -->
                    <div class="col-8">
                        {% for tag in tags %}
                            <a href="{% url 'tag-view' tag %}" class="tag">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <!-- User's information -->
                    <div class="col-4">
                        <img src="{% static 'img/common_avatar.png' %}" alt="Avatar" width="50" height="50">
                        CURRENT NAME
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>