main > .container {
    padding: 60px 15px 0;
}

.show-borders {
    border: #000000 solid 2px;
}

nav {
    color: white;
}

.button-likes {
    background-color: rgb(255, 137, 128);
    border-radius: 3px;
    border: none;
    padding: 8px 12px;
}

.button-likes:before {
    content: "";
    background-image: url("../img/like.png");
    background-size: 100% 100%;
    display: inline-block;

    height: 15px;
    width: 15px;
}

.answers-counter {
    background-color: #7cd783;
    border-radius: 3px;
    border: none;
    padding: 8px 12px;
}

a:link.tag, a:visited.tag {
    background-color: #74d5ff;
    border-radius: 3px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
}

.question-title {
    text-decoration: none;
}

.member-miniature {
    text-decoration: none;
}

.question-field {
    border-bottom: solid 1px #d5cbcb;
    padding-bottom: 20px;
}

.correct-active {
    background-color: #7cd783;
    border-radius: 3px;
    border: none;
    padding: 8px 12px;
}

.correct-active:before {
    content: "";
    background-image: url("../img/check.png");
    background-size: 100% 100%;
    display: inline-block;

    height: 15px;
    width: 15px;
}

.correct-disable {
    background-color: #c4c4c4;
    border-radius: 3px;
    border: none;
    padding: 8px 12px;
}

.answer-field {
    border-top: solid 1px #d5cbcb;
    padding-top: 20px;
    margin-top: 20px;
}

.error-message {
    color: #bb2d3b;
}
