{% extends "base/base.html" %}
{% block content %}
    <div class="mt-4 mb-2">
        <span class="fs-2 pe-5">Login</span>
        <span class="fs-5 error-message"> Error message! </span>
    </div>

    <form class="w-75" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="Login" class="form-label">Login</label>
            <input type="text" class="form-control" id="Login">
        </div>

        <div class="mb-3">
            <label for="RepeatPassword" class="form-label">Repeat password</label>
            <input type="password" class="form-control" id="RepeatPassword">
        </div>

        <button type="submit" class="btn btn-primary">Log in!</button>
        <a class="ms-5" href="register.html" style="text-decoration: none">
            Create new account
        </a>
    </form>
{% endblock %}
