{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="mt-4 mb-2">
        <span class="fs-2 pe-5">
            {{ question.question.title }}
        </span>
    </div>

    <div class="row question-field">
        <div class="row">
            <div class="col">
                <p>
                    {{ question.question.text }}
                </p>
            </div>
        </div>
        <div class="row">
            <!-- Tags -->
            <div class="col-8">
                {% for tag in question.tags %}
                    <a href="{% url 'tag-view' tag %}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="col-4">
                {% if question.author_avatar == None %}
                    <img src="{% static 'img/common_avatar.png' %}" alt="Avatar" width="50" height="50">
                {% else %}
                    <img src="{% static question.author_avatar.url %}" alt="Avatar" width="50" height="50">
                {% endif %}
                {{ question.question.author }}
            </div>
        </div>
        <!--                    </div>-->
    </div>

    {% for answer in answers.object_list %}
        {% include "include/question-answer-card.html" %}
    {% endfor %}

    {% with pagination_obj=answers %}
        {% include "include/pagination.html" %}
    {% endwith %}

    <!-- Answer field -->
    <form method="post" class="answer-field">
        <div class="mb-3">
            <label for="answer" class="form-label">Answer</label>
            <textarea class="form-control" id="answer" rows="3" name="answer" maxlength="1000"></textarea>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3 ps-5 pe-5">Answer</button>
        </div>
    </form>
{% endblock %}
